h1 {
    font-size: 36pt;
    font-family: Georgia, sans-serif;
    font-style: italic;
}

body {
    background: url(fon.jpg) no-repeat;
    background-size: 100%;
}

button.gameButton {
    border-width: 5px;
    border-color: olive;
    border-radius: 10px;
    background-color: palegoldenrod;
}

button.disabled {
    background-color: darkgray;
    border-color: #000000;
}

div.BLIndicator, div.BRIndicator {
    border-radius: 10px;
    background: palegoldenrod;
    position: absolute;
}

div.BLIndicator {
    bottom: 15px;
    left: 15px;
}

div.BRIndicator {
    bottom: 15px;
    right: 15px;
}

p.buttonTitle {
    font-family: Georgia, sans-serif;
    font-size: 20pt;
}

#levelIndicator, #moneyIndicator {
    font-family: Georgia, sans-serif;
    margin: 5px;
    font-size: 36pt;
    font-style: italic;
}

div.commandDiv, #program {
    background: white;
    border: solid 1px black;
    min-height: 64px;
}

#program {
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 84px;
}

td.selectedAction {
    background: cyan;
}

td.currentAction {
    background: red;
}

div {
    padding: 0px;
    margin: 0px;
}
